* {
    box-sizing: border-box;
  }
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  ul{
    margin:0;
    padding:0;
  }

  ul li {
     list-style-type: none;
    padding: 20px 30px;
    font-size: 40px;
    background-color: cornflowerblue;
    cursor: pointer;

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  ul li:hover{
    background-color: dimgray;
  }

  .add{
    font-size: 53px;
    position: relative;
    top:10px;
    height: 5vh;
    cursor: pointer;
  }

  
  .close{
    padding :10px;
    float : right;
  }
  .add:hover{
    background-color:darkslategrey;
  }
  input{
    padding :10px;
    width: 50vw;
  }
hasagi dzo
